# Copia este archivo como .env y completa tus valores reales.
# Puerto del servidor Go 
PORT=8080

# Credenciales de PostgreSQL local (solo en caso de que se haya caido el servidor de railway)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=f1tracker